@import "../../cssGlobal/variables.scss";

.signupWrapper {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgba($color: $clr_2, $alpha: 1);
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .imgWrapper {
    height: 99vh;
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 50vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .loginFormContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginForm {
      background-color: #fff;
      padding: 2rem;
      max-width: 20rem;
      max-height: 20rem;
      .titleLogin {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bolder;
      }
    }
  }
}
