@import "../../cssGlobal/variables.scss";

.signupWrapper {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgba($color: $clr_2, $alpha: 1);
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .imgWrapper {
    height: 99vh;
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 50vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .loginFormContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginForm {
      background-color: #fff;
      padding: 2rem;
      max-width: 20rem;
      max-height: 20rem;
      .titleLogin {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bolder;
      }
      .submitWrapper {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 3rem;
        .submitButton {
          width: 100%;
          height: 2rem;
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 400;
          color: $clr_1;
          background-color: $clr_2;
          border: 2px solid rgba($color: $clr_1, $alpha: 0.2);
          cursor: pointer;
          &:hover {
            background-color: lightgray;
            border: none;
          }
        }
      }
    }
  }
}
