@import "../../cssGlobal/variables.scss";

.navWrapper {
  width: 100%;
  min-height: 5rem;
  background-color: $clr_4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    width: 6rem;
    height: 100%;
    background-color: aquamarine;
  }
  .navlinkWrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.1rem;
    .navbarLink {
      transition: all 0.15s linear;
      color: $clr_1;
      &:hover {
        padding-bottom: 0.125rem;
        border-bottom: 0.125rem solid $clr_1;
      }
    }
    .activeNavbar {
      border-bottom: 0.125rem solid $clr_1;
    }
  }
  .navCheckoutSection {
    width: 6rem;
    height: 100%;
    background-color: burlywood;
  }
}
