@import "../../cssGlobal/variables.scss";

.navWrapper {
  width: 100%;
  min-height: 5rem;
  background-color: $clr_4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    margin-left: 2rem;
    width: 4rem;
    height: 100%;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mobileHam {
    cursor: pointer;
    margin-left: 1rem;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .navlinkWrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.1rem;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .navbarLink {
      transition: all 0.15s linear;
      color: $clr_1;
      &:hover {
        padding-bottom: 0.125rem;
        border-bottom: 0.125rem solid $clr_1;
      }
    }
    .activeNavbar {
      border-bottom: 0.125rem solid $clr_1;
    }
  }
  .mobileViewLogo {
    width: 4rem;
    height: 100%;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
    img {
      margin-left: 1rem;
      width: 100%;
      height: 100%;
    }
  }
  .navCheckoutSection {
    margin-right: 1rem;
    width: 3rem;
    height: 100%;
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 768px) {
      width: 2rem;
    }
    .cartNumber {
      position: absolute;
      top: -0.5rem;
      left: 1.5625rem;
      color: $clr_1;
      font-size: 1rem;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        top: -0.75rem;
        left: 0.875rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.mobile_nav_wrapper {
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999999999999;
  background-color: #001524;
  animation: myTransition 0.5s;

  .closeHamIcon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem;
    cursor: pointer;
    img {
      filter: brightness(0) invert(100%);
    }
  }
  .mobileNavListContainer {
    list-style: none;
    padding: 0 0.5rem;
    li {
      padding: 0 1rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.25rem;
      border-radius: 10px;
      a {
        color: #ffecd1;
        width: 100%;
      }
    }
    .active {
      background-color: $clr_2;
      text-decoration: underline 1.5px solid $clr_1;
      text-underline-offset: 0.4rem;
      transition: all 0.1s linear;
      a {
        color: #001524;
      }
      &:hover {
        text-underline-offset: 0.5rem;
      }
    }
  }
}

@keyframes myTransition {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
