@import "../../cssGlobal/variables.scss";

.steptwoContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .paypalPaymentContainer {
    width: 70vw;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
      rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    @media screen and (max-width: 768px) {
      width: 90vw;
      grid-template-columns: 1fr;
    }
    .payNowWrapper {
      .paypalHeading {
        padding: 1rem 2rem 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 1rem;
          height: 1rem;
          width: 90%;
          border-bottom: 2px solid rgba($color: $clr_1, $alpha: 0.15);
        }
        .payImageWrapper {
          width: 3rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .cartTotal {
          display: flex;
          column-gap: 1rem;
          img {
          }
          .price {
          }
        }
      }
    }
    .saferWrapper {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        grid-area: 1;
      }
      .imgWrappr {
        width: 50%;
        height: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .saferText {
        font-size: 1.5rem;
        color: rgba($color: $clr_1, $alpha: 0.7);
      }
      .saferTextTwo {
        font-size: 1rem;
        color: rgba($color: $clr_1, $alpha: 0.5);
      }
    }
  }
  .semiFooterWrapper {
    margin: 0.2rem 0 1rem 0;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 90vw;
    }
    .cancelReturnParagraph {
      cursor: pointer;
      color: rgba($color: rgb(3, 102, 119), $alpha: 1);
    }
    .policyWrapper {
      display: flex;
      column-gap: 1rem;
      flex-wrap: wrap;
      list-style: none;
      li {
        cursor: pointer;
      }
    }
  }
}
